<div class="example-container mat-elevation-z8">
  <div *ngIf="productsInitiallyLoaded$ | async">
    <div *ngIf="(showNoResults$ | async) === false">
      <div class="example-loading-shade" *ngIf="showLoading$ | async">
        <mat-spinner></mat-spinner>
      </div>

      <form class="filters" [formGroup]="filterForm" *ngIf="inventoryTypesLoaded$ | async">
        <mat-form-field>
          <input matInput placeholder="Поиск" formControlName="searchText">
        </mat-form-field>
        <mat-select placeholder="Тип" formControlName="inventory_type">
          <mat-option [value]="null">Все</mat-option>
          <mat-option *ngFor="let item of inventoryTypes" [value]="item.type">
            {{item.displayed_name}}
          </mat-option>
        </mat-select>
      </form>
    </div>
    <div *ngIf="showTable$ | async">
      <div class="example-table-container" *ngIf="productsInitiallyLoaded$ | async">
    
        <table mat-table [dataSource]="(products$ | async)!" class="example-table"
                matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

          <!-- inventory_id Column -->
          <ng-container matColumnDef="inventory_id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let row">{{row.inventory_id}}</td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Имя</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>
    
          <!-- inventory_number Column -->
          <ng-container matColumnDef="inventory_number">
            <th mat-header-cell *matHeaderCellDef>Тип</th>
            <td mat-cell *matCellDef="let row">{{getInventoryType(row.inventory_type)}}</td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    
      <mat-paginator [length]="totalCount$ | async" [pageSize]="10" (page)="pageChanged($event)"></mat-paginator>
    </div>
    <div *ngIf="showNoResults$ | async" class="no-results">
      <div>Похоже, ни одного продукта еще не было добавлено</div>
    </div>
    <div *ngIf="showNoSearchResults$ | async" class="no-results">
      <div>Похоже, по заданным критерием поиска нету результатов</div>
    </div>
  </div>
  <div *ngIf="(productsInitiallyLoaded$ | async) === false">
    Загрузка..
  </div>
</div>
    

  